<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
	<Appenders>
		<Console name="Stdout_default" target="SYSTEM_OUT">
			<PatternLayout pattern="[%d{HH:mm:ss}] [%p]  %msg%n" />
		</Console>
		<Console name="Stdout_plugin" target="SYSTEM_OUT">
			<PatternLayout pattern="[%d{HH:mm:ss}] [%p]  [%replace{%markerSimpleName}{^aas/plugin/[^/]*/}{}] %msg%n" />
		</Console>
		<RollingRandomAccessFile name="Logfile" fileName="log/latest.log" filePattern="log/%d{yyyy-MM-dd}-%i.log">
			<PatternLayout>
				<MarkerPatternSelector defaultPattern="[%d{dd MMM yyyy - HH:mm:ss}] [%t/%p]  %msg%n">
					<PatternMatch key="aas/plugin" pattern="[%d{dd MMM yyyy - HH:mm:ss}] [%t/%p]  [%replace{%markerSimpleName}{^aas/plugin/[^/]*/}{}] %msg%n"/>
				</MarkerPatternSelector>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy />
                <OnStartupTriggeringPolicy />
			</Policies>
		</RollingRandomAccessFile>
	</Appenders>
	<Loggers>
		<Root level="info">
		</Root>
		<Logger name="aas/default" level="info">
			<AppenderRef ref="Stdout_default"/>
			<AppenderRef ref="Logfile"/>
		</Logger>
		<Logger name="aas/plugin/default" level="info">
			<AppenderRef ref="Stdout_plugin"/>
			<AppenderRef ref="Logfile"/>
		</Logger>
	</Loggers>
</Configuration>